/* kontak.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url(halutama3.jpg);
}

/* Contact section styles */
.contact {
    width: 500px;
    margin: 150px auto;
    padding: 30px;
    background-color: #fff;
    backdrop-filter: blur(40px);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.kontak-box{
    backdrop-filter: blur(40px);
}

.contact h1 {
    text-align: center;
    margin-bottom: 30px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact form input,
.contact form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}

.contact form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.contact form button:hover {
    background-color: #0062cc;
}